.inputfield{
    padding-bottom: 14px;
    display: flex;
}

.form-container {
    width: 50%;
}

.input-field{
    width: 80%;
    height: 25px;
    margin-top: 0.2em;
    font-size: 0.9em;
    color: #333;
    padding-left: 0.2em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}